*{
	border: 0px;
	margin: 0px;
	
}
body{
	/*background-image: url('back.jpg');*/
	background-color: #104E8B;
	/*background-repeat: no-repeat;
	background-size: 1500px 1200px;*/
}
#wrapper{	
	width: 980px;
	margin: auto;
	position: relative;
	/*background: url('back.jpg');*/
	background-color: #104E8B;	
	margin-top: 1px;
}
#header{
	background:#FFFFFF;
	height: 140px;
	background: url('back.jpg');	
	width: 980px;	
	margin-bottom: 2px;
}
#content{
	background:#FFFFFF;
	height: 380px;
	width: 970px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: right;
	overflow:auto;	/*barra de rolagem*/
	
}
#content_cad{
	background:#FFFFFF;
	min-height: 630px;
	width: 970px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: right;	
	
}
#content_cad_user{
	background:#FFFFFF;
	min-height: 440px;
	width: 970px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: right;	
	
}
#content_alt{
	background:#FFFFFF;
	min-height: 670px;
	width: 970px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: right;	
	
}
#content_index{
	background:#FFFFFF;
	height: 320px;
	width: 970px;	
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 15px;	
	padding-left: 10px;	
}
#content_artigo{
	background:#FFFFFF;
	height: 460px;
	width: 970px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: right;
	overflow:auto;	/*barra de rolagem*/
}

#footer{
	background: #32a9c3;
	color: #d3eced;
	width: 100%;	 
	height: 65px;
	clear: both;	
}
.format_footer{
	 text-align: center;
	 font-size: 14px;
	 padding-top: 25px;
}

 h2, h3{
	color:  #0000FF; 
	font-family: Arial,Helvetica,sans-serif;
	padding-left: 8px; 	
}

h5{
	color: #5C7702; 
	font-family: Arial,Helvetica,sans-serif;
	text-align: left;
}

.ul_content{  
  font-size: 18px;
  color: #4682B4;
  font-family: Arial,Helvetica,sans-serif; 
  margin-left: 30px;
}
.cor_link{
	color: #4682B4;	
}
.cor_link_1{
	color: #4682B4;
	font-size: 15px;
}

/* mudar a cor do link do menu*/
#nav a:link{
	color:#FFF;
	text-decoration: none;	
}
#nav a:visited{
	color: #fff;
	text-decoration: none;
}
a{
	/*background: 30px #4682b4;*/
	text-decoration: none;
	
}
.aformat{
	color: #d3eced;
	margin-right: 30px;
	margin-left: 20px;
	margin-top: 15px;
	
}
.texto{
	color: #4682B4; 
	font-family: Arial,Helvetica,sans-serif;
	text-align: justify;
	font-size: 18px;
	padding-right: 5px;
}
.texto_art{
	color: #4682B4; 
	font-family: Arial,Helvetica,sans-serif;
	text-align: justify;
	font-size: 15px;
	padding-right: 5px;
}
.alinha{
	color: #5C7702; 
	font-family: Arial,Helvetica,sans-serif;
	text-align: right;
}
.domar{
	width: 180px;
	height:130px;
	float: left;
	margin-left: 5px;	
}
.fig_texto{
	width: 600px;
	height: 100px;
	padding-top: 20px;	
}
#content_index img{
	width: 180px;
	height:160px;
	float: right;
	margin-right: 60px;
	margin-left: 20px;
}
label{
	vertical-align: top;
}
.format_check{			 
		width:98%; 
		display: block; 		
		border-top:1px solid #FFFFFF; 
		border-bottom:1px solid #FFFFFF; 
		padding:10px 0px 10px 5px; 
}
.input_format{
	width: 90%;
	padding-left: 5px;	
}
.input_cd{
	width: 25%;
	padding-left: 5px;	
}
.input{
	width: 35%;
	padding-left: 5px;	
	margin-bottom: 25px;
	margin-right: 10px;
	border: 1px solid  	#87CEEB;
	margin-left: 10px;	
}
textarea{
	border: 1px solid  	#87CEEB;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.input_n{
	margin-bottom: 25px;
	width: 53%;
	border: 1px solid  	#87CEEB;
	margin-left: 10px;
	
}
.input_cpf{
	margin-bottom: 25px;
	width: 28%;
	border: 1px solid  	#87CEEB;
	margin-left: 10px;
}
.input_username{
	width: 28%;
	border: 1px solid  	#87CEEB;
	margin-left: 10px;
	margin-right: 30px;
}
.input_b{
	width: 20%;
	padding-left: 5px;	
}
#form{
	margin:0 auto; 
	width:98%; 
	background:#FFFFFF;	
	margin-top: 35px;
}

hr{
	border: 1px solid #1E90FF;
}
#tp_req{
	float: left;
	margin-right: 100px;
	margin-left: 60px;
}
#status{
	float: left;
	margin-right: 100px;
}
#prior{
	float: left;
}
#btn{
	clear: both;
	margin-left: 300px;	
	width: 300px;
}
#cat{
	float: left;
	margin-bottom: 35px;
	
}
#resp{
	float: left;
	margin-right: 100px;
	margin-bottom: 35px;
}

#lesquerdo{
	float: left;
	background: #1E90FF;
	margin-left:35px;
	margin-top:40px;
	margin-bottom: 30px;
	width:250px;
}
#lcenter{
	float: left;
	background: #1E90FF;
	margin-left:20px;
	margin-top:40px;
	margin-bottom: 30px;
	width:250px;
	
}
#ldireito{
	float: left;
	background: #1E90FF;
	margin-left:20px;
	margin-top:40px;
	margin-bottom: 30px;
	width:350px;
}

.btn_monitora{
	padding: 10px;
	background:#1E90FF;
	color:#ffffff;
	margin-left: 20px;
	font-size:16px;
	margin-top:40px;
	
}
.btn_monitora1{
	padding: 10px;
	background:#1E90FF;
	color:#ffffff;
	margin-left: 20px;
	font-size:16px;
	margin-top:20px;
	
}
.btn_m{
	padding: 10px;
	background:#1E90FF;
	color:#ffffff;
	margin-left: 5px;
	margin-right: 5px;
	font-size:16px;	
}
table, td, th, tr{
	border: 1px solid #87CEEB;
	border-collapse: collapse;
	padding: 3px;	
	margin-top: 25px;	
	text-align: left;	
}


.table_ator, .table_secao, table, td, th, tr{
	width: 30%;
	display: inline-grid;
}

.color_table{
	background-color: #AEEEEE;
}
.colort{
	background-color: #F0FFF0;
}
.color{
	background-color: #F0F8FF;
}
#pg_anteriores{
	width: 350px;
	height: 100px;	
	margin-top: 70px;	
	margin-left: 330px;
		
}
#pg_anteriores img{
	width: 90px;
	height: 100px;
	float: left;
	margin-right: 60px;	
	margin-left: 10px;	
}
#pg_anteriores a{
	background-color: #1E90FF;	
	color: white;	
} 
.nm{
	padding-right: 20px;
	padding-left: 3px;	
	text-align: left;
}
.id{
	margin-bottom: 25px;
	width: 13%;
	border: 1px solid  	#87CEEB;
}
.format_img{
	width: 20px;
	height: 20px;
}
#login{
	text-align: left;
	margin-top: 50px;
	float: left;
}
.log_form{
	border: 1px solid  	#87CEEB;
		
}
.log_form1{
	border: 1px solid  	#87CEEB;
	margin-left: 13px;	
}
.btn_monitora_login{
	padding: 5px 30px;
	background:#1E90FF;
	color:#ffffff;
	margin-left: 170px;
	font-size:16px;
	margin-top:10px;
}
#login a:link{
	color:  #0000FF;
	text-decoration: none;	
}
#login a:visited{
	color:  #0000FF;
	text-decoration: none;
}
#sessao{
	float: right;
	height: 20px;
	width: 220px;
	/*background: pink;*/
	font-family: Arial,Helvetica,sans-serif;
	color: #fff;
	
}


